<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <style>
    details>summary {
      list-style-type: '🫣';
    }

    details[open]>summary {
      list-style-type: '🧐';
    }
  </style>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
</head>

<body>
  <div id="app" class="container my-6 content">
    <div v-if="data">

      <div class="columns">
        <div class="column">
          <span v-if="status" :class="['tag', status === 'saved!' ? 'is-success' : 'is-warning']"
            style="position: fixed; top: 2rem; left: 2rem;">
            {{ status }}
          </span>

          <h2>收集 & 评论</h2>

          <h3>Articles</h3>
          <ul>
            <template v-for="article in data.articles">
              <li>
                <div>
                  <span v-if="comments[article.link].comment">✅</span>
                  <span class="tag is-link is-light mr-1" v-html="article.category"></span>
                  <template v-if="article.title">
                    <span class="has-text-black has-text-link ">{{ article.title }}</span>
                    <a v-if="article.link" class="is-size-7 ml-3" :href="article.link" target="_blank">| 点击阅读原文</a>
                    <span class="tag is-light ml-1">{{ article.source }}</span>
                    <span class="tag is-iight ml-1" v-html="article.author"></span>
                  </template>
                </div>
                <div>
                  <details>
                    <summary><span v-html="article.description" /></summary>
                    <div class="">
                      <div>
                        <div class="field">
                          <p class="control">
                            <input class="input" placeholder="标题" v-model="comments[article.link].title" />
                          </p>
                        </div>
                        <div class="field">
                          <p class="control">
                            <input class="input" placeholder="链接" v-model="comments[article.link].realLink" />
                          </p>
                        </div>
                        <div class="field">
                          <div class="select">
                            <select v-model="comments[article.link].category">
                              <option>文章</option>
                              <option>行业动态</option>
                              <option>发布</option>
                              <option>资源</option>
                              <option>工具</option>
                              <option>库</option>
                            </select>
                          </div>
                        </div>
                        <div class="field">
                          <p class="control">
                            <textarea class="textarea" placeholder="我的想法"
                              v-model="comments[article.link].comment"></textarea>
                          </p>
                        </div>
                      </div>
                    </div>
                  </details>
                </div>
              </li>
            </template>

          </ul>

        </div>
        <div class="column">
          <h2>预览 & 导出</h2>

          <div class="buttons">
            <button class="button is-info" @click="output">导出 Markdown</button>
            <button class="button is-danger" @click="clearCache">Clear Cache</button>
          </div>

          <div id="preview" ref="previewRef">
            <template v-for="category in formatCategories">
              <h2>{{ category }}</h2>
              <ul>
                <template v-for="article in formatComments[category]">
                  <li>
                    <p><a :href="article.realLink || article.link" v-html="article.title" :title="article.title"
                        target="_blank"></a><P>
                    <img v-if="article.img" :src="article.img" alt="" style="display: block;">
                    <p v-if="article.comment.trim()" v-html="article.comment.trim()" />
                  </li>
                </template>
              </ul>
            </template>
          </div>

        </div>
      </div>

    </div>
    <div v-else>
      loading...
    </div>
  </div>

  <script>
    function fetchData() {
      return new Promise(resolve => {
        fetch('./weeklyFeed.json')
          .then(response => response.json())
          .then(data => resolve(data))
      })
    }
  </script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
  <script type="module">
    import { createApp } from 'vue'

    const CACHE_KEY = '__weekly_cache'

    createApp({
      data() {
        return {
          data: {},
          comments: {},
          timer: null,
          status: null
        }
      },
      mounted() {
        this.getCacheData()
        this.fetchData()
      },
      computed: {
        formatComments() {
          return Object.entries(this.comments).reduce((res, [link, { category, ...others }]) => {
            if (!res[category]) {
              res[category] = []
            }

            res[category].push({ link, ...others })

            return res
          }, {})
        },
        formatCategories() {
          const categories = Object.keys(this.formatComments)
          return ['行业动态', '文章', '发布', '资源', '工具', '库'].filter(i => categories.includes(i))
        }
      },
      watch: {
        comments: {
          handler(newValue, oldValue) {
            this.autosave(newValue)
          },
          deep: true
        }
      },
      methods: {
        async fetchData() {
          const data = await fetchData()
          console.log(data)
          this.data = data
          this.initComments()
        },
        getCacheData() {
          const cachedComments = localStorage.getItem(CACHE_KEY)
          if (cachedComments) {
            this.comments = JSON.parse(cachedComments)
          }
        },
        clearCache() {
          let text;
          if (confirm("Confirm clear Cache?") === true) {
            localStorage.removeItem(CACHE_KEY)

            // 延迟重载，否则上一步移除缓存数据的操作可能会失败
            setTimeout(() => {
              window.location.reload()
            }, 660)
          }

        },
        initComments() {
          this.data.articles.forEach(article => {
            if (!this.comments[article.link]) {
              this.comments[article.link] = {
                ...article,
                category: '文章',
                title: article.title ?? article.description,
                realLink: article.link,
                comment: ''
              }
            }
          });
        },
        autosave(value) {
          clearTimeout(this.timer)
          this.status = 'waiting...'
          this.timer = setTimeout(() => {
            this.status = 'saved!'
            localStorage.setItem(CACHE_KEY, JSON.stringify(value))
          }, 1500)
        },
        output() {
          console.log(this.$refs['previewRef'])

          const markdown = new TurndownService().keep(['sup']).turndown(this.$refs['previewRef'].innerHTML)

          navigator.clipboard.writeText(markdown)
            .then(console.log)
            .catch(console.log)

          // console.log(markdown)
        }
      }
    }).mount('#app')
  </script>
</body>

</html>
